---
import Layout from "../layouts/Layout.astro";
import App from "../components/App";
---

<Layout>
  <main class='bg-white flex gap-16 w-[1150px] h-[80%] rounded-2xl'>
    <App client:load />
  </main>
</Layout>
