---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Step1 from "../components/Step1.astro";
import Step2 from "../components/Step2.astro";
import Step3 from "../components/Step3.astro";
import Step4 from "../components/Step4.astro";
import Message from "../components/Message.astro";
---

<Layout>
  <main class='bg-white flex gap-16 w-[1150px] h-[80%] rounded-2xl'>
    <Sidebar />
    <Step1 />
    <Step2 />
    <Step3 />
    <Step4 />
  </main>
</Layout>

