<div
  data-step-content='step-3'
  class='hidden flex-col w-1/2 justify-center m-5'
>
  <h1 class='text-5xl pt-8 text-marine-blue font-bold'>Pick add-ons</h1>
  <p class='pt-4 pb-8 text-cool-gray'>
    Add-ons help enhance your gaming experience.
  </p>

  <div class='grid grid-rows-3 gap-8'>
    <button
      class='flex w-full justify-between text-left items-center p-5 border hover:border-purplish-blue rounded-lg'
      data-add-ons
    >
      <input type='checkbox' class='h-6 w-6' />
      <div class='w-full pl-6 pr-20'>
        <h2 class='text-xl text-marine-blue'>Online service</h2>
        <p class='text-cool-gray'>Access to multiplayer games</p>
      </div>
      <div data-price-add-ons class='text-purplish-blue'>+$1/mo</div>
    </button>
    <button
      class='flex w-full justify-between text-left items-center p-5 border hover:border-purplish-blue rounded-lg'
      data-add-ons
    >
      <input type='checkbox' class='h-6 w-6' />
      <div class='w-full pl-6 pr-20'>
        <h2 class='text-xl text-marine-blue'>Larger storage</h2>
        <p class='text-cool-gray'>Extra 1TB of cloud save</p>
      </div>
      <div data-price-add-ons class='text-purplish-blue'>+$2/mo</div>
    </button>

    <button
      class='flex w-full justify-between items-center text-left p-5 border hover:border-purplish-blue rounded-lg'
      data-add-ons
    >
      <input type='checkbox' class='h-6 w-6' />
      <div class='w-full pl-6 pr-20'>
        <h2 class='text-xl text-marine-blue'>Customizable Profile</h2>
        <p class='text-cool-gray'>Custom theme on your profile</p>
      </div>
      <div data-price-add-ons class='text-purplish-blue'>+$2/mo</div>
    </button>
  </div>

  <div class='flex justify-between py-10'>
    <button data-step-back type='button' class='text-cool-gray'>Go back</button>
    <button
      data-step-next='step-3'
      type='button'
      class='bg-marine-blue text-white px-6 py-3 rounded-md font-bold'
    >
      Next Step</button
    >
  </div>
</div>

<script>
  import {
    addOns,
    monthlyPricesAddOns,
    yearlyPricesAddOns,
    subscription,
  } from "../../stores";

  import { nextStep } from "../script";

  const nextButton = document.querySelector("[data-step-next='step-3']")!;

  const priceTags = document.querySelectorAll<HTMLDivElement>(
    "[data-price-add-ons]"
  );

  subscription.listen((value) => {
    priceTags.forEach((item, idx) => {
      if (value === "monthly") {
        item.innerHTML = `+$${monthlyPricesAddOns[idx][1]}/mo`;
      } else {
        item.innerHTML = `+$${yearlyPricesAddOns[idx][1]}/yr`;
      }
    });
  });

  const addOnsButtons =
    document.querySelectorAll<HTMLButtonElement>("[data-add-ons]");

  const setAddOnState = (button: HTMLButtonElement, state: boolean) => {
    if (state) {
      button.classList.add("border-purplish-blue");
      button.querySelector("input")!.checked = true;
    } else {
      button.classList.remove("border-purplish-blue");
      button.querySelector("input")!.checked = false;
    }
  };

  addOns.get().forEach((item, idx) => setAddOnState(addOnsButtons[idx], item));

  addOnsButtons.forEach((button, idx) => {
    button.addEventListener("click", () => {
      const checkbox = button.firstElementChild as HTMLInputElement;
      checkbox.checked = !checkbox.checked;

      const newAddOnsState = [...addOns.get()];
      newAddOnsState[idx] = !newAddOnsState[idx];

      addOns.set(newAddOnsState);
      setAddOnState(button, checkbox.checked);
    });
  });

  nextButton.addEventListener("click", () => {
    nextStep();
  });
</script>
