<div data-step-content class='hidden flex-col w-1/2 justify-evenly m-5'>
  <h1 class='text-5xl pt-8 text-marine-blue font-bold'>Select your plan</h1>
  <p class='pt-4 pb-8 text-cool-gray'>
    You have the option of monthly or yearly billing.
  </p>

  <div class='grid grid-cols-3 gap-5 pb-5'>
    <button
      data-plan-button='arcade'
      class='border py-4 pl-4 pr-20 inline-flex flex-col justify-between gap-16 rounded-lg focus:border-purplish-blue focus:bg-pastel-blue hover:border-purplish-blue'
    >
      <img src='assets/images/icon-arcade.svg' class='w-12' />

      <div class='text-left'>
        <h2 class='text-marine-blue font-bold text-xl'>Arcade</h2>
        <p data-plan-price='arcade' class='text-md text-cool-gray'>$9/mo</p>
        <p class='pt-2 text-marine-blue text-sm'></p>
      </div>
    </button>

    <button
      data-plan-button='advanced'
      class='border py-4 pl-4 pr-20 inline-flex flex-col justify-between gap-16 rounded-lg focus:border-purplish-blue focus:bg-pastel-blue hover:border-purplish-blue'
    >
      <img src='assets/images/icon-advanced.svg' class='w-12' />

      <div class='text-left flex flex-col'>
        <h2 class='text-marine-blue font-bold text-xl'>Advanced</h2>
        <p data-plan-price='advanced' class='text-md text-cool-gray'>$12/mo</p>
        <p class='pt-2 text-marine-blue text-sm'></p>
      </div>
    </button>

    <button
      data-plan-button='pro'
      class='border py-4 pl-4 pr-20 inline-flex flex-col justify-between gap-16 rounded-lg focus: hover:border-purplish-blue'
    >
      <img src='assets/images/icon-pro.svg' class='w-12' />

      <div class='text-left'>
        <h2 class='text-marine-blue font-bold text-xl'>Pro</h2>
        <p data-plan-price='pro' class='text-md text-cool-gray'>$15/mo</p>
        <p class='pt-2 text-marine-blue text-sm'></p>
      </div>
    </button>
  </div>

  <div class='flex justify-center items-center gap-6 bg-light-blue py-2'>
    <span
      data-plan-duration='monthly'
      class='text-marine-blue transition-colors'>Monthly</span
    >
    <button id='switch-button'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        height='3em'
        viewBox='0 0 576 512'
        class='rotate-180'
        ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d='M192 64C86 64 0 150 0 256S86 448 192 448H384c106 0 192-86 192-192s-86-192-192-192H192zm192 96a96 96 0 1 1 0 192 96 96 0 1 1 0-192z'
        ></path></svg
      >
    </button>
    <span data-plan-duration='yearly' class='text-cool-gray transition-colors'
      >Yearly</span
    >
  </div>

  <div class='flex justify-between pt-5'>
    <button data-step-back type='button' class='text-cool-gray'>Go back</button>
    <button
      id='next'
      type='button'
      class='bg-marine-blue text-white px-6 py-3 rounded-md font-bold'
      data-step-next='step-2'
    >
      Next Step</button
    >
  </div>
</div>

<script>
  import {
    monthlyPricesPlans,
    yearlyPricesPlans,
    subscription,
    plan,
  } from "../../stores";
  import { nextStep } from "../script";

  const planButtons = document.querySelectorAll("[data-plan-button]");
  const switchButton = document.getElementById("switch-button")!;
  const planDuration = document.querySelectorAll("[data-plan-duration]");
  const nextButton = document.querySelector<HTMLButtonElement>(
    "[data-step-next='step-2']"
  )!;

  const monthlyArray = Array.from(Object.values(monthlyPricesPlans));
  const yearlyArray = Array.from(Object.values(yearlyPricesPlans));

  const setPlanDurationActive = (duration: "monthly" | "yearly") => {
    const [active, notActive] = duration === "monthly" ? [0, 1] : [1, 0];

    planDuration[active].classList.add("text-marine-blue");
    planDuration[notActive].classList.remove("text-marine-blue");
    planDuration[notActive].classList.add("text-cool-gray");

    planButtons.forEach((item, idx) => {
      const priceTag = item.querySelector("[data-plan-price]")!;

      if (duration === "monthly") {
        priceTag.innerHTML = `$${monthlyArray[idx]}/mo`;
        priceTag.nextElementSibling!.innerHTML = "";
      } else {
        priceTag.innerHTML = `$${yearlyArray[idx]}/yr`;
        priceTag.nextElementSibling!.innerHTML = "2 months free";
      }
    });
  };

  switchButton.addEventListener("click", () => {
    const svgElement = switchButton.children[0];
    const hasRotateClass = svgElement.classList.contains("rotate-180");

    if (hasRotateClass) {
      svgElement.classList.remove("rotate-180");
      subscription.set("yearly");
      setPlanDurationActive("yearly");
    } else {
      svgElement.classList.add("rotate-180");
      subscription.set("monthly");
      setPlanDurationActive("monthly");
    }
  });

  planButtons.forEach((button) => {
    button.addEventListener("click", () => {
      planButtons.forEach((button) => {
        button.classList.remove("border-purplish-blue");
        button.classList.remove("bg-pastel-blue");
      });

      button.classList.add("border-purplish-blue");
      button.classList.add("bg-pastel-blue");

      let planValue = button.getAttribute("data-plan-button") as
        | "arcade"
        | "advanced"
        | "pro";

      plan.set(planValue);
    });
  });

  nextButton.addEventListener("click", () => {
    nextStep();
  });
</script>
