<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='./assets/images/favicon-32x32.png'
    />
    <meta name='generator' content={Astro.generator} />
    <title>Frontend Mentor | Multi-step form</title>
  </head>
  <body class='h-[100dvh] relative  bg-light-blue'>
    <slot />
  </body>
</html>

<style is:global>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Ubuntu";
    src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Ubuntu";
    src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Ubuntu";
    src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  body {
    font-family: "Ubuntu";
  }
</style>
